<section class="hero is-success is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-10 is-offset-2">

                <div class="box">
                    <p class='has-text-centered is-size-4 as-text-weight-semibold'>Memoirs of an</p>
                    <figure class="logo">
                        <img src="https://static.thenounproject.com/png/2195395-200.png" width="96" height="96">
                    </figure>
                    <p class='has-text-centered is-size-4 as-text-weight-semibold block'>Apparatus</p>
                    <hr>
                    <h5 class="title has-text-black">New Memoir for the People</h5>
                    <form class="post-form">
                        <div class="field">
                            <input class="input" type="text" placeholder="Title" id="post-title">
                        </div>
                        <div class="field">
                            <textarea class="textarea is-info" placeholder="Post content" id="post-content"></textarea>
                        </div>
                        <button class="button is-block is-info is-fullwidth" id="submit-post">
                            Submit Memoir 
                            <i class="fa fa-sign-in" aria-hidden="true"></i>
                        </button>
                    </form>
                </div>
            </div>
</section>
<script src="/js/new-post.js"></script>