
<section class="hero is-success is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                <h3 class="title has-text-black">Signup</h3>
                <hr class="login-hr">
                <p class="subtitle has-text-black">Please signup to proceed.</p>
                <div class="box">
                  <p class='has-text-centered is-size-4 as-text-weight-semibold'>Memoirs of an</p>
                    <figure class="logo">                                            
                        <img src="https://static.thenounproject.com/png/2195395-200.png">
                </figure>
                  <p class='has-text-centered is-size-4 as-text-weight-semibold block'>Apparatus</p>
                    <form class="signup-form">

                      <div class="field">
                            <p class="control has-icons-left has-icons-right">
                              <input class="input" type="text" placeholder="Name" id="name-signup">
                              {{!-- <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                              </span>
                              <span class="icon is-small is-right">
                                <i class="fas fa-check"></i>
                              </span> --}}
                            </p>
                          </div>
                        <div class="field">
                            <p class="control has-icons-left has-icons-right">
                              <input class="input" type="email" placeholder="Email" id="email-signup">
                              <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                              </span>
                              <span class="icon is-small is-right">
                                <i class="fas fa-check"></i>
                              </span>
                            </p>
                          </div>
                          
                          <div class="field">
                            <p class="control has-icons-left">
                              <input class="input" type="password" placeholder="Password" id="password-signup">
                              <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                              </span>
                            </p>
                          </div>

                        <button class="button is-block is-info is-fullwidth">Signup<i class="fa fa-sign-in" aria-hidden="true"></i></button>
                    </form>
                </div>
                <p class="has-text-grey">
                    <a href="../">Sign Up</a>
              </p>
            </div>
        </div>
    </div>
</section>
<script src="./js/login.js"></script>